<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4194304" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			<add name="X-Content-Type-Options" value="nosniff" /><add name="X-Frame-Options" value="SAMEORIGIN" /><add name="Content-Security-Policy" value="default-src 'self'; img-src 'self' data: https:; script-src 'self' 'unsafe-eval' https://code.jquery.com https://cdnjs.cloudflare.com; style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com; font-src 'self' https://cdnjs.cloudflare.com; connect-src 'self' https://*.okta.com https://*.auth0.com https://accounts.google.com https://www.googleapis.com/oauth2/v3/certs https://openidconnect.googleapis.com/v1/userinfo https://login.microsoftonline.com https://graph.microsoft.com;" /></customHeaders>
		</httpProtocol>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="WebDAV" />
		</handlers>
	</system.webServer>
</configuration>